:root {
  --col-main: #9c2828;
  --col-dark: #702424;
  --col-light: #cc5858;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: #e2e2e2;
}
.btn {
  border: 0;
  font-weight: 700;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1,0rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    background-color: #bbb;
    color: #666;
    cursor: default;
  }
}
.col-main {
  background-color: var(--col-main);
  color: #fff;
}
.col-nega {
  background-color: #ccc;
  color: #222;
}
.textfield {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #bbb;
  width: 100%;
}